@import '../../styles/Colors.scss';
@import '../../breakpoints/breakpoints.scss';

.log-in {
  background: $colorPrimary;
  border-radius: 25px;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;

  @include media('<=715px') {
    padding: 3rem 2.5rem;
  }

  .card-heading {
    padding-bottom: 1rem;
    color: white;
    font-family: 'Fredoka One';
    letter-spacing: 0.05rem;
    font-size: 2.5rem;

    @include media('<=715px') {
      font-size: 1.5rem;
    }
  }

  .log-in-form {
    width: 100%;
  }

  p {
    color: white;
    margin: 2rem 0;
  }
}
