@import '../../styles/Colors.scss';
@import '../../breakpoints/breakpoints.scss';

.drawer {
  padding: 1.5rem 2rem;
  box-shadow: -5px 0 8px #888888;
  background: $colorPrimary;
  color: white;
  height: 100vh;
  width: 30vw;

  @include media('<=400px') {
    padding: 1.5rem 0.5rem;
  }

  @include media('>400px', '<=715px') {
    padding: 1.5rem 1rem;
  }

  .drawer-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .delete-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      transition: transform 0.2s;
      cursor: pointer;

      .delete-icon {
        height: 1.5rem;
        width: 1.5rem;

        @include media('>400px', '<=715px') {
          height: 1.5rem;
          width: 1.5rem;
          margin-right: 0.8rem;
        }
      }

      .delete-text {
        font-size: 0.8rem;
        text-align: center;
        margin: 0.5rem 0 0 0;

        @include media('<=715px') {
          font-size: 0.7rem;
        }
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .close-button {
      height: 2.5rem;
      width: 2.5rem;
      transition: transform 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      @include media('>phone', '<=715px') {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .book-title {
    @include media('<=400px') {
      font-size: 1.2rem;
    }

    @include media('>400px', '<=715px') {
      font-size: 1.5rem;
    }
  }

  .book-genre {
    margin-top: 2rem;

    @include media('<=400px') {
      font-size: 0.9rem;
    }

    @include media('>400px', '<=715px') {
      font-size: 1rem;
    }
  }

  .book-author {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include media('<=400px') {
      font-size: 0.9rem;
    }

    @include media('>400px', '<=715px') {
      font-size: 1rem;
    }
  }

  .all-books-heading {
    @include media('<=400px') {
      font-size: 0.8rem;
    }

    @include media('>400px', '<=715px') {
      font-size: 0.9rem;
    }
  }
  .all-books {
    margin-top: 2rem;

    li {
      margin-top: 1rem;

      @include media('<=400px') {
        font-size: 0.8rem;
      }

      @include media('>400px', '<=715px') {
        font-size: 0.9rem;
      }
    }
  }
}
