@import '../../styles/Colors.scss';

.drawer {
  padding: 1.5rem 2rem;
  box-shadow: -5px 0 8px #888888;
  background: $colorPrimary;
  color: white;
  height: 100vh;
  width: 30vw;

  .drawer-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .delete-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      transition: transform 0.2s;

      .delete-icon {
        height: 1.5rem;
        width: 1.5rem;
      }

      .delete-text {
        font-size: 0.8rem;
        text-align: center;
        margin: 0.5rem 0 0 0;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .close-button {
      height: 2.5rem;
      width: 2.5rem;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .book-genre {
    margin-top: 2rem;
  }

  .book-author {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .all-books {
    margin-top: 2rem;

    li {
      margin-top: 1rem;
    }
  }
}
