@import '../../styles/Colors.scss';
@import '../../breakpoints/breakpoints.scss';

.book-card {
  display: flex;
  align-items: center;
  height: 15rem;
  width: 30rem;
  min-height: min-content;
  min-width: min-content;
  background: white;
  padding: 1rem 2rem;
  border-radius: 0 1.3rem 0 0;
  box-shadow: 10px -5px 8px #888888;

  @include media('>phone', '<=715px') {
    height: 12rem;
    width: 25rem;
  }

  .fab {
    height: 2.5rem;
    width: 2.5rem;
    color: $colorPrimary;
    align-self: flex-end;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    @include media('>phone', '<=715px') {
      height: 2rem;
      width: 2rem;
    }
  }

  .book-form {
    width: 80%;
    display: flex;
    flex-direction: column;

    .input-field {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 0.5rem;

      label {
        font-weight: bolder;

        @include media('>phone', '<=715px') {
          font-size: 0.7rem;
        }
      }

      input {
        height: 2rem;
        border-radius: 0.3rem;
        border: none;
        outline: none;
        margin-left: 20px;
        font-size: 0.9rem;
        background: $colorSecondary;

        &:focus {
          border: solid 1.5px $colorPrimary;
        }

        @include media('>phone', '<=715px') {
          height: 1.5rem;
          font-size: 0.8rem;
        }
      }
    }

    .author-input-field {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 0.5rem;

      label {
        font-weight: bolder;

        @include media('>phone', '<=715px') {
          font-size: 0.7rem;
        }
      }

      .author-field {
        display: flex;
        flex-direction: column;

        input {
          height: 2rem;
          border-radius: 0.3rem;
          border: none;
          outline: none;
          margin-left: 20px;
          font-size: 0.9rem;
          background: $colorSecondary;

          &:focus {
            border: solid 1.5px $colorPrimary;
          }

          @include media('>phone', '<=715px') {
            height: 1.5rem;
            font-size: 0.7rem;
          }
        }

        .select-author {
          height: 2rem;
          width: 55%;
          border-radius: 0.3rem;
          margin: 5px 0 0 20px;
          width: inherit;
          background: $colorSecondary;
          font-size: 0.9rem;
          outline: none;
          border: none;

          &:focus {
            border: solid 1.5px $colorPrimary;
          }

          @include media('>phone', '<=715px') {
            height: 1.5rem;
            margin: 5px 0 0 20px;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
