.background {
  width: 100vw;
  height: 100vh;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .heading {
    color: #af4159;
    font-family: 'Fredoka One';
    letter-spacing: 0.05rem;
    font-size: 3.5rem;
    transform: translateY(200px);
    transition: all 0.5s;

    &.move-heading-top {
      transform: translateY(0px);
    }
  }

  .log-in-sign-up {
    display: flex;
    align-items: center;

    .log-in-btn-container {
      transform: translateX(250px);
      transition: all 0.5s;

      &.move-btn-left {
        transform: translateX(0px);
      }
    }

    .sign-up-btn-container {
      transform: translateX(-250px);
      transition: all 0.5s;

      &.move-btn-right {
        transform: translateX(0px);
      }
    }

    .cardContainer {
      flex-direction: column;
      align-items: center;

      .logInContainer {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
        position: absolute;

        &.show {
          visibility: visible;
          opacity: 1;
        }
      }

      .signUpContainer {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;

        &.show {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
