.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .heading {
    color: #af4159;
    font-family: 'Fredoka One';
    letter-spacing: 0.05rem;
    font-size: 3.5rem;
  }

  .log-in-sign-up {
    display: flex;
    align-items: center;

    .logInContainer {
      visibility: hidden;
      display: none;
      opacity: 0;
      transition: display 1s visibility 1s, opacity 1s;

      &.show {
        visibility: visible;
        opacity: 1;
        display: flex;
      }
    }

    .signUpContainer {
      visibility: hidden;
      display: none;
      opacity: 0;
      transition: display 1s visibility 1s, opacity 1s;

      &.show {
        visibility: visible;
        opacity: 1;
        display: flex;
      }
    }
  }
}
