@import '../../styles/Colors.scss';
@import '../../breakpoints/breakpoints.scss';

.outter-container {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background: $colorSecondary;

  @include media('<=715px') {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  .main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media('<=715px') {
      scroll-behavior: smooth;
      overflow-y: scroll;
    }

    .header-bar {
      padding-top: 0.5rem;
      display: flex;
      align-items: center;

      .user-title-container {
        margin-left: auto;
        margin-right: auto;
      }

      .user-title {
        color: rgb(88, 88, 88);

        @include media('<=715px') {
          font-size: 1.5rem;
          margin-left: 20px;
        }
      }

      .log-out-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s;
        margin-right: 1.5rem;
        margin-left: 2rem;
        color: rgb(88, 88, 88);
        cursor: pointer;

        .log-out {
          height: 2rem;
          width: 2rem;
          color: inherit;

          @include media('<=715px') {
            height: 1.5rem;
            width: 1.5rem;
          }
        }

        .log-out-text {
          margin: 0;
          font-size: 0.8rem;

          @include media('<=715px') {
            font-size: 0.7rem;
            justify-content: center;
          }
        }

        &:hover {
          color: $colorPrimary;
          transform: scale(1.2);
        }
      }
    }

    .books-container {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;

      @include media('<=715px') {
        scroll-behavior: smooth;
        overflow-y: scroll;
        padding: 0.5rem;
        // white-space: nowrap;
      }

      .book-button {
        margin: 1rem 0;
      }
    }
  }

  .book-drawer {
    opacity: 0.3;
    transition: opacity 1s;
    &.show {
      opacity: 1;
    }
  }
}
